@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {

}

.album-art {
	float: left;
	width: 100px;
	margin: 15px 45px;
	padding: 15px;
	border: 1px solid rgb(216, 7, 7);
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	
}

.record-label {
	color: red;
}

.track-list {
	
}

#about-photo {
	margin: 20px;
	padding: 20px;
	border: 1px solid darkred;
	float: left;
}

#copyright {

}

#section-about, #section-discography, #section-equipment {
	margin: 20px;
	padding: 20px;
	border: 1px solid darkred;
}

#text-intro {
	color: red;
	background-color: rgb(68, 59, 59);
	border: 1px solid red;
	margin: 20px;
	padding: 20px;
}